server {
    include         /etc/nginx/snippets/listen-secure.nginx.conf;
    include         /etc/nginx/snippets/tls.nginx.conf;

    server_name     shaastr.getastra.com;
    index           index.php index.html index.htm;
    root            /var/www/vhosts/shaastr.getastra.com;
    access_log      /var/log/nginx/shaastr_access.log;
    error_log       /var/log/nginx/shaastr_error.log;
    
    location / {
        try_files $uri $uri/ =404;
    }
    
    location ~* \.php$ {
        fastcgi_index   index.php;
        fastcgi_pass    unix:/var/run/php/shaastr.sock;
        include         fastcgi_params;
        fastcgi_param   SCRIPT_FILENAME    $document_root$fastcgi_script_name;
        fastcgi_param   SCRIPT_NAME        $fastcgi_script_name;
    }

    include         /etc/nginx/snippets/block-dotfiles.nginx.conf;
}